 /*tablet */
 @media(min-width:740px) and (max-width:1023px) {
     .row {
         grid-template-columns: repeat(3, 1fr);
         column-gap: 16px;
     }
 }

 @media(max-width: 739px) {
     .row {
         grid-template-columns: 100%;
         column-gap: 0;
     }

     .col {
         margin-top: 8px;
     }

     .col:first-child {
         margin-top: 0
     }

     .h2 {
         display: none;
     }
 }